header{
    h1{
        font-size: 2.3rem;
        font-weight: bold;
        margin-bottom: 20px;
    }
    h2{
        font-size: 1.8rem;
        color: rgb(110, 149, 183);
    }
}


form {
    input{
        font-family: 'Gowun Batang', serif;
        border:none;
        border-bottom: 2px solid white;
        outline: 1px;
        font-size: 1.5rem;
        width: 650px;
        padding: 8px;
        background-color: transparent;
        color: white;
        &::placeholder{
            color: rgb(110, 149, 183);
            font-family: 'Gowun Batang', serif;
        }
        
    }

    input:focus::-webkit-input-placeholder {
        color: transparent;
    }
      input:focus::-moz-placeholder {
        color: transparent;
    }
      input:focus:-ms-input-placeholder {
        color: transparent;
    }
      input:focus::-ms-input-placeholder {
        color: transparent;
    }

    button{
        vertical-align: bottom;
        width: 70px;
        height: 35px;
        background-color: rgba(255, 255, 255, 0.15);
        font-size: 1.3rem;
        font-weight: bold;
        color: white;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        &:hover{
            background-color:  rgb(59, 116, 165);
        }
    }
}

@media screen and (max-width: 730px) {
    header h1 {
      font-size: 1.5rem;
    }
    header h2{
      font-size: 1rem;
    }
    form input {
      width: 250px;
      font-size: 1.2rem;
    }
    form button {
      font-size: 0.9rem;
      width: 55px;
      height: 30px;
    }
    div.list-cont{
        width: 250px;
    }

  }