*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #1E96E0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    main{
        margin-top: 80px;
        width: auto;
       form{
           margin-top: 100px;
        }
    }
}

